*.user
Strategy Pattern/build-StrategyPattern-Desktop_Qt_5_8_0_MinGW_32bit-Debug/
Proxy Pattern/build-ProxyPattern-Desktop_Qt_5_8_0_MinGW_32bit-Debug/
Simple Factory Pattern/build-SimpleFactoryPattern-Desktop_Qt_5_8_0_MinGW_32bit-Debug/
Factory Method Pattern/build-FactoryMethodPattern-Desktop_Qt_5_8_0_MinGW_32bit-Debug/
Builder Pattern/Code/build-BuilderPattern-Desktop_Qt_5_8_0_MinGW_32bit-Debug/
